<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triread.api.orbit.OrbitMapper">
    <select id="findAttempts" resultType="com.triread.api.orbit.OrbitData$OrbitAttemptRow">
        SELECT qs.challenge_date,
               qa.score,
               9 - qa.score AS wrong_count,
               COUNT(ar.id) FILTER (WHERE ar.review_status = 'RECOVERED') AS recovered_count
        FROM quiz_attempts qa
        JOIN quiz_sets qs ON qs.id = qa.quiz_set_id
        LEFT JOIN answer_reviews ar
               ON ar.source_attempt_id = qa.id
              AND ar.user_id = qa.user_id
        WHERE qa.user_id = #{userId}
          AND qs.challenge_date BETWEEN #{startDate} AND #{endDate}
        GROUP BY qs.challenge_date, qa.id, qa.score
        ORDER BY qs.challenge_date
    </select>
</mapper>
